@import "../../shared/lib/colors.module.css";
.title_color{
    color: var(--text-color);
}

.section_title_font_size{
    font-size: 1.3em;
}
.container_variable{
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
}
.variables{
    background-color: var(--background-color-button);
    color: var(--primary-text-color);
    border-radius: 0.4em;
    font-size: 1.1em;
    height: 2em;
}