.button {
    width: 10em;
    height: 3em;
    font-size: 1em;
}
.right_container_for_widgets {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    
}
.portalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Другие стили по вашему желанию */
}